<form action="user/login" method="POST">
<p>
    login
    <input type="text" name="login">
</p>
<p>
    password
    <input type="text" name="password">
</p>
<p>
    <button class="btn btn-sm btn-info" type="submit">Login</button>
</p>
</form>