<form action="./user" method="POST">
    <p>
        login
        <input type="text" name="login">
    </p>
    <p>
        password
        <input type="text" name="password">
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>    
</form>