<%- include('../part/header') %>
    <div class="container pt-5">
        <h3>Posts</h3>
        <table class="w-100">
        <thead>
            <tr>
                <th>User</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
        <%- include('../part/post/add') %>
    </div>    
<%- include('../part/footer') %>
