<form action="./post" method="POST">
    <p>
        title
        <input type="text" name="title">
    </p>
    <p>
        body
        <input type="text" name="body">
    </p>
    <p>
        user
        <input type="text" name="owner" value="5ea70ab3ba95937b5661d41a">
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>    
</form>